#input-header
{
    position:sticky;
    top:0;
    background:#888888;
}

table.swatch-info, .swatch-info tr, .swatch-info td
{
    border:1px solid #000000;
    border-collapse:collapse;
    padding:2px;
}

.swatch
{
    width:200px;
    height:200px;
    border:1px solid #000000;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:auto;
}

.color-viewer
{
    margin-top:25px;
}

.lab
{
    width:50px;
}

.comp-ratio
{
    width:30px;
}
