body {
    max-width:max-content;
    margin:auto;
}

table.swatch-info, .swatch-info tr, .swatch-info td
{
    border:1px solid #000000;
    border-collapse:collapse;
    padding:2px;
}

.swatch
{
    height:300px;
    border:1px solid #000000;
    margin:5px auto;
}

.lab
{
    width:50px;
}
