.app-header
{
    z-index:10 !important;
}

.app-header *
{
    z-index:unset !important;
}

.v-expansion-panel-text > *
{
    padding:0 !important;
}

.v-table table tr td
{
    padding:0px 4px !important;
}

[v-cloak]
{
    display: none;
}